.container {
    width: 1024px;
    background-color: bisque;
    margin: 0 auto;
    height: 500px;
}

.add-product {
    width: 40%;
    float: left;
}
.list-product {
    width: 60%;
    float: left;
}
.table-list-product {
    width: 90%;
    border-collapse: collapse;
    text-align: center;
}
.table-list-product td tr th {
    border: 1px solid red;
}